body {
}

.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

.another-file-over-class {
  border: dotted 3px green;
}

.thumbnail img {
  height: 15em;
}

.selected {
  border: 3px solid red;
}
