<h1>Verify</h1>

<p>Verify your image against one of the Isdal Woman sketches</p>
<p>Click on one of the images to select it, then select your own image to test against the selection.</p>

<div class="well">
  <div class="row">
    <div class="col-xs-6 col-md-3" *ngFor="let testImage of testImages">
      <div class="thumbnail">
        <a (click)="selectImage(testImage.id)"><img src="{{testImage.url}}" alt="..." [ngClass]="{'selected': testImage.selected }"></a>
        <div class="caption">
          <h3>{{testImage.name}}</h3>
          <p>{{testImage.description}}</p>
          <div class="well">Confidence: {{testImage.result}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Your image</h1>
<p>Use one of your own images to test for likeness against a selected Isdal Woman sketch from above</p>
<div class="well">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           (onFileDrop)="onFileSelected($event)"
           class="well my-drop-zone">
        Drop your image on here
      </div>
    </div>
  </div>
</div>
